<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css    ">

    <title>Trang chủ</title>
    <link rel="stylesheet" href="/css/homepage.css">
</head>

<style>
    .footer {
        display: none;
    }

    #link-hover {
        position: relative;
    }

    #link-hover:hover .link__redirect {
        display: block;
    }

    .link__redirect {
        position: absolute;
        right: -50px;
        top: 50px;
        background-color: #05630a;
        display: none;
        padding: 12px;
        border-radius: 3px;
    }

    .link__redirect a {
        text-decoration: none;
        color: #fff;
    }

    .link__redirect a:hover {
        background-color: #338a42;
        opacity: 0.8;
    }

    .img_vct1 {
        height: 600px;
        width: 600px;
    }

    .content {
        background-color: rgb(196, 207, 124);
        height: 100%;
    }

    .content_vct {
        margin: 100px 0 0 150px;
        padding: 20px;
        height: 470px;
        width: 470px;
        border: 2px solid #ccc;
        border-radius: 5px;
        background-color: rgb(69, 190, 190);
    }

    #nd {
        font-style: italic;
    }

    input[type=number]::-webkit-outer-spin-button,
    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>

<body>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Vui lòng nhập vào phòng của bạn</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                    <form action="/check-bill" method="GET" id="form__trigger">
                        <input type="text" name="input__code" id="input__code" required><br>
                        <span id="msg__err" style="color: red; font-weight: bold; display: none">Vui lòng không bỏ trống
                            trường này!</span>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Thoát</button>
                    <button id="btn-send__id" type="button" class="btn btn-primary">Xác nhận</button>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg" style="background-color: #05630a;">
        <div class="container">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-around w-100">
                    <li id="link-hover" class="nav-item">
                        <a style="font-size: 150%;" class="nav-link " href="#">Tạm
                            trú</a>
                        <div class="link__redirect">
                            <div class="over d-flex flex-column">
                                <a href="/dang-ky-tam-tru">Đăng ký tạm trú</a>
                                <a href="/gia-han-tam-tru">Gia hạn tạm trú</a>
                            </div>

                        </div>
                    </li>
                    <li class="nav-item">
                        <a id="check__bill" style="font-size: 150%;" class="nav-link" href="#">Kiểm
                            tra hóa đơn</a>
                    </li>

                    <li class="nav-item">
                        <a style="font-size: 150%;" class="nav-link" href="/phan-hoi">Phản
                            hồi tiền phòng</a>
                    </li>

                    <li class="nav-item">
                        <a style="font-size: 150%;color: aqua;" class="nav-link" href="/login">Chủ trọ và quản lý</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="content d-flex">
        <div class="content_vct">
            <div class="text">
                <h2 style="margin-bottom: 10px; color: #000"><b>NHỮNG TÍNH NĂNG MÀ CHÚNG TÔI CUNG CẤP</b></h2>
                <p id="nd" style="color:rgb(0, 0, 0); font-size: 19px">
                    <i class="fas fa-solid fa-star"></i> ĐĂNG KÝ TẠM TRÚ
                    giúp khách thuê trọ có thể dễ dàng đăng ký tạm trú, tiết kiệm thời gian cho cả chủ trọ và khách trọ.
                </p>
                <p id="nd" style="color:rgb(0, 0, 0); font-size: 19px">
                    <i class="fas fa-solid fa-star"></i> GIA HẠN TẠM TRÚ
                    Giúp khách thuê trọ có thể gia hạn thời gian tạm trú dễ dàng bằng thông tin đã đăng ký tạm trú trước
                    đó..
                </p>
                <p id="nd" style="color:rgb(0, 0, 0); font-size: 19px">
                    <i class="fas fa-solid fa-star"></i> Ngoài ra chúng tôi còn cung cấp chức năng xem hóa đơn trực
                    tuyến và
                    có thể gửi phản hồi về tiền phòng một cách nhanh chóng qua hệ thống.
                </p>

            </div>
        </div>
        <img class="img_vct1" src="/img/tamtru.png" alt="img__home">

    </div>


</body>

<script>
    // Lấy tham chiếu đến modal
    var myModal = new bootstrap.Modal(document.getElementById('exampleModal'));

    // Kích hoạt modal


    const btnSendId = document.getElementById("btn-send__id");
    const form__trigger = document.getElementById("form__trigger");
    const check__bill = document.getElementById("check__bill");

    check__bill.addEventListener("click", () => {
        myModal.show();
    });

    btnSendId.addEventListener('click', () => {
        if (input__code.value.length == 0) {
            msg__err.style.display = "block";
            input__code.focus()
        } else {
            form__trigger.submit()
        }
    })
</script>

</html>