html, body {
    height: 100%;
    width: 100%;
  }


@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }

}

.top{
  background-color: aqua;
}

/* Logo */

.top img {
    height: 150px;
    width: 150px;
    margin-left: 45%;
}

/* Background Image */


/* Color Navbar Text */
.nav-link{
  color:#fff;
}

.nav-link:hover{
  color: black;
}

