 <!-- Footer -->
        <!-- Copyright -->
        <div class="footer text-center p-4">
            © 2023 Copyright:
            <a class="text-reset fw-bold" href="/">DANDL Motel</a>
        </div>
        <!-- Copyright -->
    <!-- Footer -->